.progress-percentage {
    font-size: 22px;
    font-weight: bolder;
}

.progress-value {
    font-size: 15px;
    text-align: center;
}

.mb{
    margin-bottom: 25px;
}

.ml{
    margin-left: 45px;
}

.number-input{
    max-width: 80px;
    max-height: 25px;
}

.inline-label{
    margin-right: 5px;
}

.inline-input{
    margin-right: 15px;
}

.bolder{
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 5px;
}

.description{
    margin-bottom: 20px;
    font-size: 14pt;
}

label{
    font-weight: bold;
}

.number-input{
    max-width: 80px;
    max-height: 25px;
}
