<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="teacher">
            <h2>
                <span jhiTranslate="teacherManagement.detail.title">Teacher</span> [<b>{{teacher.user.login}}</b>]
            </h2>
            <dl class="row-md jh-entity-details mb">
                <dt><span jhiTranslate="userManagement.login">Login</span></dt>
                <dd>
                    <span>{{teacher.user.login}}</span>
                </dd>
                <dt><span jhiTranslate="userManagement.firstName">First Name</span></dt>
                <dd>{{teacher.user.firstName}}</dd>
                <dt><span jhiTranslate="userManagement.lastName">Last Name</span></dt>
                <dd>{{teacher.user.lastName}}</dd>
                <dt><span jhiTranslate="personalData.form.birthDate">Geburtstag</span></dt>
                <dd>{{birthdate}}</dd>
                <hr>
                <dt><span jhiTranslate="global.form.email.label">Email</span></dt>
                <dd>{{teacher.user.email}}</dd>
                <dt><span jhiTranslate="personalData.form.phoneNumber">Phone number</span></dt>
                <dd>{{teacher.phoneNumber}}</dd>
                <hr>
                <dt><span jhiTranslate="personalData.form.address">Address</span></dt>
                <dd>
                    {{teacher.address.street}} {{teacher.address.houseNumber}}, {{teacher.address.additional}}<br>
                    {{teacher.address.postal}} {{teacher.address.town}}<br>
                    {{teacher.address.country}}
                </dd>
            </dl>
            <button type="submit"
                    routerLink="../../"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
            <button type="submit"
                    [routerLink]="['../../', teacher.id, 'edit']"
                    queryParamsHandling="merge"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon> <span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
