.description{
    margin-bottom: 20px;
    font-size: 14pt;
}

.inactive-description{
    margin-top: 10px;
    font-size: 14pt;
}

label{
    font-weight: bold;
}

.number-input{
    max-width: 80px;
    max-height: 25px;
}

.mb{
    margin-bottom: 50px;
}

.no-bold{
    font-weight: normal;
}
